#songsList{
    list-style-type: none;
    justify-content: space-around;
    padding:0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
audio{
    opacity: 0;
}
#songsList  li{
    border:2px solid #ff0000;
    width: 24%;
    padding: 10px;
    margin-bottom: 1.3em;
}
#songsList img,

#songsList p,

#songsList h3{
    pointer-events: none;
}
#musicPlayer{
    position: fixed;
    background-color: aliceblue;
    padding:20px;
    width: 100%;
    left:0;
    bottom: 0;
    z-index:10000;
}
#musicPlayer button{
    border-radius: 10px;
    font-size: 50px;
    color:red;
}
#content{
    margin-top: 100px;
}
input[type="range"]
{
    width:50%;
}
#playList{
    border:2px solid red;
    width: 100%;
    height:400px;
}