button{
    width: 100%;
}

table{
    background-color:aquamarine;
    margin: 0 auto;

}
input[type="text"]{
    background-color: #000;
    text-align: right;
     font-family: 'LCD14';
    color: #fff;


}
input::placeholder{
    color: #fff;
}